<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>VipTest</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" >
</head>
<body>
<!-- 地理定位以及登录注册等 -->
<div class="header-wrap">
     <a name='1F'></a><!-- 描点定位 -->
    <div class="header-title">
        <div id='header-title-loding' class='header-title-loding'>
            <a href="#">上海</a>
            <div class='header-loding-loading'>
                <span class='header-loding-goods'>请选择所在的收货地区</span>
                <div id='header-goods-region' class='header-goods-region'>
                    <hr />
                    A&nbsp;&nbsp;<a href="#">安徽</a>&nbsp;&nbsp;<a href="#">澳门</a>
                   <br />
                    B&nbsp;&nbsp;<a href="#">北京</a><br />
                    C&nbsp;&nbsp;<a href="#">重庆</a><br />
                    F&nbsp;&nbsp;<a href="#">福建</a><br />
                    G&nbsp;&nbsp;<a href="#">广东</a>&nbsp;&nbsp;<a href="#">广西</a>&nbsp;&nbsp;<a href="#">贵州</a>&nbsp;&nbsp;<a href="#">甘肃</a>
                    <br />
                    H&nbsp;&nbsp;<a href="#">河北</a>&nbsp;&nbsp;<a href="#">河南</a>&nbsp;&nbsp;<a href="#">黑龙江</a>&nbsp;&nbsp;<a href="#">海南</a>&nbsp;&nbsp;<a href="#">湖北</a>&nbsp;&nbsp;<a href="#">湖南</a>
                    <br />
                    J&nbsp;&nbsp;<a href="#">江苏</a>&nbsp;&nbsp;<a href="#">吉林</a>&nbsp;&nbsp;<a href="#">江西</a><br />
                    L&nbsp;&nbsp;<a href="#">辽宁</a><br />
                    N&nbsp;&nbsp;<a href="#">内蒙古</a>&nbsp;&nbsp;<a href="#">宁夏</a>
                    <br />
                    Q&nbsp;&nbsp;<a href="#">青海</a><br />
                    S&nbsp;&nbsp;<a href="#">上海</a>&nbsp;&nbsp;<a href="#">山东</a>&nbsp;&nbsp;<a href="#">山西</a>&nbsp;&nbsp;<a href="#">陕西</a>
                    <br />
                    T&nbsp;&nbsp;<a href="#">台湾</a>&nbsp;&nbsp;<a href="#">天津</a>
                    <br />
                    X&nbsp;&nbsp;<a href="#">西藏</a>&nbsp;&nbsp;<a href="#">香港</a>&nbsp;&nbsp;<a href="#">新疆</a><br />
                    Y&nbsp;&nbsp;<a href="#">云南</a><br />
                    Z&nbsp;&nbsp;<a href="#">浙江</a><br />    
                </div>
            </div>
        </div>
        <ul>
            <li class='header-title-list'><a href="#">请登录</a>
                <div class='header-login'>
                    <div class='header-login-flag'>
                        <br />
                        <span style='margin-left:20px;'>您好，请登录</span>
                    </div>
                    <div class='header-login-list'>
                        <span><a href="#">我的收藏</a></span><br />
                        <span><a href="#">我的钱包</a></span><br />
                        <span><a href="#">我的唯品币</a></span>
                    </div>
                    <div class='header-login-list'>
                        <span><a href="#">我的订单</a></span><br />
                        <span><a href="#">唯品金融</a></span><br />
                        <span><a href="#">我的优惠卷</a></span>
                    </div>
                </div>
            </li>
            <li><a href="#">注册</a></li>
            <li><a href="#">我的订单</a></li>
            <!-- 下面的这个class=flag,只有一个hover样式，是用来做display:block的 -->
            <li class='flag'><a href="#">我的收藏</a>
                <div class='header-myitems'>
                    <span><a href="#">收藏的品牌(0)</a></span><br />
                    <span><a href="#">收藏的商品(0)</a></span>
                </div>
            </li>
            <li class='flag'><a href="#">会员俱乐部</a>
                <div class='header-myclub'>
                    <span><a href="#">俱乐部首页</a></span><br />
                    <span><a href="#">唯品币兑换</a></span><br />
                    <span><a href="#">免费抽大奖</a></span>
                </div>
            </li>
            <li class='flag'><a href="#">客户服务</a>
                <div class='header-service'>
                    <span><a href="#">联系客服</a></span><br />
                    <span><a href="#">帮助中心</a></span><br />
                    <span><a href="#">会员反馈</a></span><br />
                    <span><a href="#">知识产权投诉</a></span>
                </div>
            </li>
            <li class='flag'><a href="#">手机版</a>
                <div class='header-img'>
                    <img src="http://b.appsimg.com/2016/06/17/863/1466134037230.jpg">
                    随时逛随时抢
                </div>
            </li>
            <li class='flag'><a href="#">更多</a>
                <div class='header-more'>
                    <div class='header-cooperation'>
                        <h1>合作专区</h1>
                        <span>
                            <a href="#">联名卡申请</a>&nbsp;&nbsp;&nbsp;
                            <a href="#">唯品卡</a>&nbsp;&nbsp;&nbsp;
                            <a href="#">支付专区</a>
                        </span>
                    </div>
                    <div class='header-my'>
                        <h1>关于我们</h1>
                        <span>
                            <a href="#">sell on vip</a>&nbsp;&nbsp;&nbsp;
                            <a href="#">品牌招商</a>&nbsp;&nbsp;&nbsp;
                            <a href="#">官方博客</a>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- 唯品会，一家专门做特卖的网站 -->
<div class='header-vipimg' id='header-vipimg'>
    <div class="header-logo">
        <div class="header-logo-vip">
            <img src="http://b.appsimg.com/2016/04/21/375/1461225710314.png"/>
        </div>
        <div class="header-logo-character">
            <div class="header-logo-character-image">
                <a href="#"><img src="http://b.appsimg.com/2016/04/21/315/1461224800476.jpg"></a>
                <a href="#"><img src="http://b.appsimg.com/2016/04/21/151/1461224810709.jpg"></a>
                <a href="#"><img src="http://b.appsimg.com/2016/04/21/425/1461224812480.jpg"></a>
            </div>
            <div class="header-logo-character-showp">
                <a href="#">|&nbsp;&nbsp;&nbsp;(0)我的购物袋</a>
            </div>
        </div>
    </div>
</div>
<!-- 标题栏和轮播图 -->
<div class="header-home" id='header-home'>
    <div class="header-home-center">
        <div class='header-home-center-float'><a href="#">首页</a></div>
        <div class='header-home-center-list'><a href="#">母婴</a></div>
        <div class="header-home-center-list"><a href="#">美妆</a></div>
        <div class="header-home-center-list"><a href="#">居家</a></div>
        <div class="header-home-center-list"><a href="#">男士</a></div>
        <div class="header-home-center-list"><a href="#">唯品国际</a></div>
        <div class="header-home-center-list"><a href="#">唯品金融</a></div>
        <div class="header-home-center-list"><a href="#">旅行</a></div>
        <div class="header-home-center-list"><a href="#">预告</a></div>
        <div class="header-home-center-selling"><a href="#">分类</a></div>
    </div>
</div>
<div class="main-cycle" id="main-cycle">
    <!-- //手风琴 -->
    <div class='cycle'>
        <ul>
            <li v-for='img in lists'>
                <a href="#">
                    <img :src="img.img" />
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="main-push" id='main-push'>
    <img src="http://a.vpimg2.com/upload/dop/2016/03/17/166/today_DDp.png">
</div>
<!-- 每日特卖下面的商品展示 -->
<div id='main-wrap' class='main-wrap'>
    <div class='main-lists' id='main-lists'>
        <a name='2F'></a><!-- 描点定位 -->
        <div v-for='info in lists' class="main-lists-imgleft">
            <img :src="info.homeimg">
            <div class='describe'>
                <br /><br />
                <h1>{{info.title}}</h1><br />
                <span class='describe-one'>{{info.titleIntroduce}}</span>
                <br />
                <span class='describe-two'>{{info.reduce}}</span>
            </div>
            <div class='display'>
                <div class='display-img'>
                    <div v-for='img in info.imglists' class='imgsize'>
                         <a href="#">
                            <img :src="img.img">
                            <span>￥{{img.price}}</span>
                         </a>
                    </div>
                </div>
                <div class='display-introduce'>
                    <div class='display-introduce-logo'>{{info.storeName}}</div>
                    <div class='display-introduce-collection'><a href="#">收藏品牌</a></div>
                    <div class='display-introduce-login'><a href="#">进入专题</a></div>
                </div>
            </div>
        </div>
    </div>
    <div id='sales' class='sales'>
        <a name='3F'></a><!-- 描点定位 -->
        品牌
    </div>
</div>
<!-- 右侧的菜单栏 -->
<div class='backtop' id='backtop'>
    <div class='userAll'>
        <div class='username'><a href="#">账号</a></div>
        <div class='user'>
            <div class='userlogin'>您好，请登录</div>
            <div class='usermy'>
                <div class='myorder'><a href="#">我的订单</a></div>
                <div class='myinfo'><a href="#">我的消息</a></div>
            </div>
            <div class='myvip'><a href="#">会员俱乐部</a></div>
        </div>
    </div>
    <div class='volume'>
        <div class='volumeOne'><a href="#">劵</a></div>
        <div class='myVolume'><a href="#">我的优惠卷</a></div>
    </div>
    <div class='brand'>
        <div class='brandOne'><a href="#">品牌</a></div>
        <div class='myBrand'><a href="#">我收藏的品牌</a></div>
    </div>
    <div class='goods'>
        <div class='goodsOne'><a href="#">商品</a></div>
        <div class='myGoods'><a href="#">我收藏的商品</a></div>
    </div>
    <div class='mybags'><a href="#">购物袋(0)</a></div>
    <div class='goBack' onclick='scrollTo(0,0);'>
        <a href="#">
            <span>返回</span><br/>
            <span>顶部</span>
        </a>
    </div>
</div> 
<!-- 左侧导航栏 -->
<div class='fixedLeft' id='fixedLeft'>
    <div class='fdDivLists BgColor' id='home'><a href="#1F">首页</a></div>
    <div class='fdDivLists' id='aa'><a href="#2F">特惠</a></div>
    <div class='fdDivLists' id='bb'><a href="#3F">品牌</a></div>
    <div class='fdDivLists' id='cc'><a href="#4F">cccc</a></div>
    <div class='fdDivLists' id='dd'><a href="#5F">dddd</a></div>
</div>
</body>
<script type="text/javascript" src='js/vue.js'></script>
<script type="text/javascript" src='js/backendData.js'></script>
<script type="text/javascript">
window.onload=function(){
    var clienWidth=document.body.clientWidth||document.documentElement.clientWidth
    if (clienWidth<1100) {
        document.getElementById('backtop').style.display='none';
        document.getElementById('fixedLeft').style.display='none';
    }
    //送货城市选择
    var nodes=document.getElementById('header-goods-region').getElementsByTagName('a');
    for(var i=0;i<nodes.length;i++){
        (function(i){
            nodes[i].onclick=function(){
                var flag=document.getElementById('header-title-loding').getElementsByTagName('a');
                flag[0].innerHTML=nodes[i].innerHTML;
            }
        })(i);
    }
}
//下面两个轮动监听所需要的函数
function fixedBgColor(flag){
    var allNum=document.getElementById('fixedLeft').getElementsByTagName('div');
    for (var i = 0; i < allNum.length; i++) {
        if (i==flag) {
            allNum[i].style.backgroundColor='red';
        }else{
            allNum[i].style.backgroundColor='#ffffff';
        }
    };
}
function offsetTop(){
    var lists=[
       document.getElementById('main-push').offsetTop,
       document.getElementById('sales').offsetTop
   ];
   return lists;
}
window.onscroll=function(){
    var offsettop=document.documentElement.scrollTop||document.body.scrollTop;
    var obj = document.getElementById('fixedLeft');
    //导航栏滑动效果
    if(offsettop>document.getElementById('main-cycle').offsetTop){
        obj.style.top='0px';
    }else{
        obj.style.top=document.getElementById('main-cycle').offsetTop+1+'px';
    }
   //到达某个模块的时候左边的导航栏背景色改变并移动到当前的导航栏模块
    if(offsettop>=0&&offsettop<=offsetTop()[0]){
        fixedBgColor(0);
    }else if(offsettop>offsetTop()[0]&&offsettop<=offsetTop()[1]){
        fixedBgColor(1);
    }
}
//菜单栏和导航栏随屏幕宽度显示或者隐藏
window.onresize=function(){
    var clienWidth=document.body.clientWidth||document.documentElement.clientWidth
    if (clienWidth<1100) {
        document.getElementById('backtop').style.display='none';
        document.getElementById('fixedLeft').style.display='none';
    }else{
        document.getElementById('backtop').style.display='block';
        document.getElementById('fixedLeft').style.display='block';
    }
} 
</script>
</html>


